html,
body {
  min-height: 100dvh;
  width: 100vw;
  color: white;
  text-shadow:
    0 0 3px #000,
    0 0 5px #000,
    2px 2px 4px rgba(0, 0, 0, 0.8);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.search-form {
  justify-self: center;
}

.container {
  height: 90vh;
  width: 80%;
  max-width: 1500px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 100px;
  padding: 2% 4%;
  background: radial-gradient(circle at center, #2a2a2a 0%, #1a1a1a 100%);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  border-radius: 24px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

.current-temp {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  line-height: 1;
  gap: 5px;
}

.fahrenheit.unactive,
.celsius.unactive {
  cursor: pointer;
  color: lightgray;
}

.misc-info-list {
  display: flex;
  gap: 50px;
}

.days-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  font-size: 18px;
}

.day {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  gap: 20px;
}
