html,
body {
  min-height: 100dvh;
  width: 100vw;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
}

.search-form {
  justify-self: center;
}

.container {
  height: 90vh;
  width: 75%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 100px;
  padding: 2% 4%;
  background: radial-gradient(circle at center, #2a2a2a 0%, #1a1a1a 100%);
  border-radius: 24px;
}

.content {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.description {
  font-size: 32px;
}

.current-temp {
  font-size: 64px;
  font-weight: bold;
}

.misc-info-list {
  display: flex;
  gap: 20px;
}

.days-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 24px;
  background-color: #1a1a1a;
  padding: 20px;
}
